<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Sobre nós</h4> 
            </div>
            <div class="col-md-3">
                <h4>Lista Produtos</h4>
            </div>
            <div class="col-md-3">
                <h4>Entregas</h4>
            </div>
            <div class="col-md-3">
                <h4>Contatos</h4>
                <address>
                    <strong>Twitter, Inc.</strong><br />
                    1355 Market Street, Suite 900<br />
                    San Francisco, CA 94103<br /><br />
                    <abbr title="Phone">Phone:</abbr> (123) 456-7890<br />
                    <abbr title="Fax">Fax:</abbr> (123) 456-7891<br />
                    <abbr title="Email">Email:</abbr> <a href="mailto:sales@myshop.com">sales@test.com</a><br />
                    <abbr title="Skype">Skype:</abbr> <a href="skype:myshop">test</a>
                </address>
            </div>
        </div>
    </div>
    <div class="container">
        <span class="text-muted">Pagamento</span>       
        <hr>
        <span class="text-muted">eDocsCommerce © 2017</span>   
    </div>
</footer>